@model Wishlist.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form>
            User name:
            <input type="text" name="Username"/><br />
            Password:
            <input type="password" name="password"/> <br />
            <input type="button" name="Login" value="Login"/>
        </form>
    </div>
</body>
</html>
